# Environment variables
.env

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Build output directories
#
# Ignore every directory named "dist" anywhere in the repository.
**/dist/